@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Goldman:wght@400;700&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #640D5F;
    font-family: barlow, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }

    .container{
        background-color: burlywood;
        padding: 20px;
        width: 600px;
        height: auto;
        border-radius: 4px;
        position: relative;
    }

    .container .header {
        color: cadetblue;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 12px;
    }

    .container .header .time,
    .container .header .count,
    .container .header .title {
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 3px;

    }

    .container .timer{
        position: absolute;
        width: 0px;
        height: 4px;
        background-color: chocolate;
        top: 10px;
        margin-left: 50px;
        border-radius: 4px;

    }

    .container .body{
        width: 100%;
        color:black
    }

    .container .body .question {
        width: 100%;
        padding: 20px;
        border-radius: 4px;
        background-color:crimson;

    }

    .container .body .options {
        height: 190px;

    }

    .container .body .options .option {
        border: 2px solid #346453;
        margin: 12px 0px;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        transition: 300ms all;

    }

     .container .body .options .option:hover {
        margin-left: 7px;
        background-color:aqua;

    }

    .result {
        background-color: aqua;
        border-radius: 5px;
        padding: 20px;
        position:absolute;
        z-index: 99;
        width: 400px;
        height: 250px;

    }

    .result .result-header {
        padding: 20px;
        text-align: center;
        border-bottom: 1px solid #640D5F;
        font-size: 24px;
        margin-bottom: 10px;
        font-weight: bold;

    }

    .result .result-stats {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: cadetblue;
        gap: 50px;
        font-size: 18px;

    }

    .result .repeat {
        width: 100px;
        height: 30px;
        background-color:darkolivegreen;
        color: burlywood;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        margin: 40px auto;
        cursor: pointer;
        user-select: none;

    }


